h1 {
    color: red;
}

h2 {
    color: blue;
}
img {
    width: 150px;
    border-radius: 50%;
}
body {
    font-family: Courier, monospace;
}
.container {
    text-align: center;
    text-size-adjust: ;
    background: white;
    padding: 150px;
    border: 25px solid grey;
      
}

.card {
    background: gainsboro;
    padding: 25px;
    border: 15px solid blue;
}
.link {
    font-size: 50px;
    background: gainsboro;
    padding: 25px;
    border: 15px solid blue;
}